.container {
  flex-basis: 900px;
  margin: 20px;
  box-shadow: 0 0 15px hsl(0, 0%, 93%);
  background-color: rgba(46, 138, 86, 0.3);
} 

@media (max-width: 414px) {
  .container {
    flex-basis: 600px;
  }
}
